<%= form_for @user do |f| %>
    <%= f.label :username, 'Username:' %> <br>
    <%= f.text_field :username %> <br>
    <%= f.label :password, 'Password:' %> <br>
    <%= f.password_field :password %> <br>
    <%= f.label :email, 'Email:' %> <br>
    <%= f.text_field :email, placeholder: 'example@example.com' %> <br>
    <%= f.submit "Submit" %>
<%end%>


<% if @user.errors.any? %>
  <div id="error_explanation" class="mt-2">
    <h2><span class="text-danger"><%= pluralize(@user.errors.count, "error") %></span> prohibited this post from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>

<% end %>


<button><%= link_to 'Back to Users', root_path %></button>