
<!--
<form action = '/users' method = 'post' accept-charset ='UTF-8'>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for ='username'>Username:</label>
    <input type ='text' id ='username' name='user[username]'>
    <label for ='password'>Password:</label>
    <input type ='password' id ='password' name='user[password]'>
    <label for ='email'>Email:</label>
    <input type ='text' id ='email' name='user[email]'>
    <input type ='submit' value = 'Submit'>
</form>


=begin
<%= form_tag('/users',  method:'post') do %>
    <%= label_tag(:username,  "Username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password,  "Password:") %>
    <%= password_field_tag(:password) %>
    <%= label_tag(:email,  "Email:") %>
    <%= text_field_tag(:email) %>
    <%= submit_tag("Submit") %>
<% end %>
=end

-->


<h1> New User </h1>

<%= render partial: 'form' %>
